{
    "PortPort number":	5439
    "Publicly Accessible": No
    "Database Name":	insightdb
    "Master Username":	XX
    "Encrypted":	No
    "JDBC URL":	jdbc:redshift://insightdb.XXX.us-east-1.redshift.amazonaws.com:5439/insightdb
    "node type":dc2.large
    "CPUNumber of EC2": 7 EC2 Compute Units (2 virtual cores) per node
    "MemoryMemory per node":	15.25 GiB per node
    "StorageDisk Storage of the Node Type":	160GB SSD storage per node
    "I/O PerformanceI/O performance of the Node Type":	Moderate
    "PlatformProcessor architecture of the Node Type":	64-bit
}